.created-task {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  border-radius: 10px;
  padding: 5px;
}

.task-text {
  width: min(400px, 100%);
  padding: 10px;
  font-size: 20px;
  height: 40px;
  background-color: #ffffac;
  opacity: 0.8;
  overflow: auto;
}

.task-text::-webkit-scrollbar {
  display: none;
}
.task-actions {
  color: #0f1c2a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
  height: 40px;
  margin-right: 5px;
}

.task-actions button {
  background-color: #456380;
  color: aliceblue;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 10px;
}

.task-actions span {
  cursor: all-scroll;
}

.task-actions button:hover {
  background-color: #0f1c2a;
  color: #94b5d3;
}
.completed-task {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: limegreen;
  box-shadow: 0 0 10px 5px limegreen;
}
